.slider-demo {
  user-select: none;
}
.slider-demo .demo-block {
  padding: 0 16px 20px;
}
.slider-demo h2 {
  padding-left: 16px;
}
.slider-demo .vertical-container {
  height: 150px;
  padding: 0 16px 20px;
}
.slider-demo .vertical-container quark-slider {
  height: 100%;
}
.slider-demo .vertical-block {
  display: flex;
  height: 150px;
  padding-left: 30px;
}
.slider-demo .vertical-block quark-slider {
  height: 100%;
}
.slider-demo .vertical-block .vertical-range {
  margin-left: 100px;
}
.slider-demo .custom-button {
  width: 26px;
  color: #fff;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  background-color: #1989fa;
  border-radius: 100px;
}